# /etc/udev/rules.d/50-i2c_start.rules
# I2C hardware device driver
# ACTION=="add", KERNEL=="i2c_bcm2835", SUBSYSTEM=="module", TAG+="systemd"
# ACTION=="add", KERNEL=="i2c_dev", SUBSYSTEM=="module", TAG+="systemd"
ACTION=="add", KERNEL=="i2c-1", SUBSYSTEM=="i2c", ATTR{name}=="bcm2835 I2C adapter", ATTR{new_device}="rx8010 0x32"
